p{
    color: rgb(255, 0, 0);
}
body{ 
    
    background-repeat: no-repeat;
    background-image: url("../img/louco.jpg")
    
    
}
header{
    
    padding: 3%;
}
.logo img{ width: 15%;
    max-width: 100%;
    height: auto;
    
}

nav{}

main{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{

    opacity: 1;
}
footer{
    
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}
.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}
p{
    line-height: 1.5;
    font-size: 1.2em;
}
ul,li{
    line-height: 1.5;
    font-size: 1.2em;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    font-size: 1.2em
    
  }
  td,th{
    padding: 1.5%;
    border:2px dashed #f00
    
  }
  tr:nth-child(even) {
    background-color: rgb(97, 49, 209);
  }